# قائمة إقلاع BIOS (syslinux) — Network Monitor Appliance بلا أي إشارة لديبيان.
DEFAULT nm
PROMPT 0
TIMEOUT 50

LABEL nm
    MENU LABEL Network Monitor Appliance — ^تشغيل / تثبيت
    KERNEL /live/vmlinuz
    INITRD /live/initrd.img
    APPEND boot=live components nomodeset

LABEL verbose
    MENU LABEL Network Monitor Appliance — وضع ت^شخيص
    KERNEL /live/vmlinuz
    INITRD /live/initrd.img
    APPEND boot=live components nomodeset verbose
